[package]
name = "cpal"
version = "0.4.5"
authors = ["The CPAL contributors", "Pierre Krieger <pierre.krieger1708@gmail.com>"]
description = "Low-level cross-platform audio playing library in pure Rust."
repository = "https://github.com/tomaka/cpal"
documentation = "https://docs.rs/cpal"
license = "Apache-2.0"
keywords = ["audio", "sound"]

[dependencies]
futures = "0.1.1"
libc = "0.2"
lazy_static = "0.2"

[target.'cfg(target_os = "windows")'.dependencies]
winapi = "0.2.8"
ole32-sys = "0.2"
kernel32-sys = "0.2"

[target.'cfg(any(target_os = "linux", target_os = "dragonfly", target_os = "freebsd", target_os = "openbsd"))'.dependencies]
alsa-sys = { version = "0.1", path = "alsa-sys" }

[target.'cfg(any(target_os = "macos", target_os = "ios"))'.dependencies]
coreaudio-rs = "0.7.0"
