from fedora:41 as base
run dnf update --assumeyes
run dnf install --assumeyes \
    supervisor \
    socat \
    procps-ng \
    htop \
    pipewire \
    pipewire-utils \
    pipewire-alsa \
    pipewire-pulse \
    pipewire-devel \
    wireplumber \
    pulseaudio-utils

copy virtual.nodes.conf /root/virtual.nodes.conf

run mkdir --parents /etc/wireplumber/wireplumber.conf.d
run touch /etc/wireplumber/wireplumber.conf.d/80-disable-dbus.conf
run tee /etc/wireplumber/wireplumber.conf.d/80-disable-dbus.conf <<EOF
wireplumber.profiles = {
    main = {
        monitor.bluez.seat-monitoring = disabled
        monitor.alsa.reserve-device = disabled
        support.dbus = disabled
        support.reserve-device = disabled
        support.portal-permissionstore = disabled
        support.logind = disabled
    }
}
wireplumber.settings = {
    access-enable-flatpak-portal = false
}
EOF

run touch /root/supervisor.conf
copy .tmp/supervisor.conf /root/supervisor.conf

copy .tmp/entrypoint.bash /root/entrypoint.bash
run chmod +x /root/entrypoint.bash

copy .tmp/healthcheck.bash /root/healthcheck.bash
run chmod +x /root/healthcheck.bash

HEALTHCHECK --interval=100ms --timeout=1s --retries=300 \
  CMD bash -c /root/healthcheck.bash || exit 1

entrypoint ["bash", "-c", "/root/entrypoint.bash"]